
/* ----- Área dos Posts de Física ----- */

/* Título */
.physics-post h2 {
color: #000;
}

/* Cor do Cartão */
.post-card {
    color: #f4f4f4;
}

/* tag */
.tag {
    color: #007bff;
}

/* título do artigo */
.post-card h3 {
    color: #000;
}

/* resumo do artigo */
.post-card p {
    color: #64748b;
}

/* --- Fim do Cartão --- */






/* ----- Área do Sobre ----- */

/* Background */
.about-body {
    color: #0b0d17;
}

/* Tag */
.tag {
    color: #007bff;
}

/* Título */
.about-title h2 {
    color: #ffffff; /* Azul destaque */
}

/* Parágrafo */
.about-text {
    color: #ccc;
}

/* --- Fim do Sobre --- */






/* ----- Área da Pesquisa ----- */

/* Background */
.study-groups-section {
    color: white;
}

/* Título */
.section-header h2 {
    color: #000;
}

/* Descrição */
.section-desc {
    color: #666;
}


.card-bottom {
    background-color: #f4f4f4; /* Cinza bem leve igual da imagem */
    color: #003366;
}

/* --- Fim da Área da Pesquisa --- */


